/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../app/sass/application.sass */
body {
  background: url(/images/madeira-pattern.jpg);
}

/* line 11, ../../app/sass/application.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: none;
  background: #faad53 url(/images/content-bg.jpg) no-repeat;
  *zoom: 1;
  height: 100%;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../../app/sass/application.sass */
.main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  padding-right: 60px;
  padding-left: 60px;
}

/* line 35, ../../app/sass/application.sass */
.ladrilho {
  *zoom: 1;
  width: 960px;
  background: #ebad66;
  margin: auto;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.ladrilho:after {
  content: "";
  display: table;
  clear: both;
}

/* line 47, ../../app/sass/application.sass */
.esquerda {
  width: 81px;
  background: url(/images/ladrilho-esquerdo.jpg) repeat-y;
  position: absolute;
  bottom: 0;
  top: 0;
  display: none;
}

/* line 63, ../../app/sass/application.sass */
.direita {
  width: 81px;
  background: url(/images/ladrilho-direito.jpg) repeat-y;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
}

/* line 83, ../../app/sass/application.sass */
#logo h1 {
  width: 340px;
  height: 132px;
  background: url(/images/logo.png) no-repeat;
  margin: auto;
  text-indent: -99999999px;
  margin-top: 67px;
}

/* line 99, ../../app/sass/application.sass */
#menuPrincipal {
  background: url(/images/menuprincipal.png) no-repeat;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  height: 55px;
  margin-top: 25px;
}
/* line 109, ../../app/sass/application.sass */
#menuPrincipal ul {
  display: block;
  list-style: none;
  padding: 15px;
  padding-left: 26px;
  padding-bottom: 17px;
}
/* line 121, ../../app/sass/application.sass */
#menuPrincipal ul li {
  float: left;
  position: relative;
  margin: 0;
}
/* line 129, ../../app/sass/application.sass */
#menuPrincipal a {
  height: 32px;
  display: block;
  text-indent: -99999px;
}

/* line 139, ../../app/sass/application.sass */
#fonteHome {
  background: url(/images/menu/home.png) no-repeat;
  width: 70px;
  padding-left: 39px;
}

/* line 149, ../../app/sass/application.sass */
#fonteHome:hover {
  background: url(/images/menu/homehover.png) no-repeat;
  width: 70px;
  padding-left: 39px;
}

/* line 161, ../../app/sass/application.sass */
#fonteCardapio {
  background: url(/images/menu/cardapio.png) no-repeat;
  width: 103px;
  padding-left: 45px;
}

/* line 171, ../../app/sass/application.sass */
#fonteCardapio:hover {
  background: url(/images/menu/cardapiohover.png) no-repeat;
  width: 103px;
  padding-left: 45px;
}

/* line 181, ../../app/sass/application.sass */
#fonteVinhos {
  background: url(/images/menu/vinhos.png) no-repeat;
  width: 177px;
  padding-left: 36px;
}

/* line 191, ../../app/sass/application.sass */
#fonteVinhos:hover {
  background: url(/images/menu/vinhoshover.png) no-repeat;
  width: 177px;
  padding-left: 36px;
}

/* line 201, ../../app/sass/application.sass */
#fonteAgenda {
  background: url(/images/menu/agenda.png) no-repeat;
  width: 88px;
  padding-left: 36px;
}

/* line 211, ../../app/sass/application.sass */
#fonteAgenda:hover {
  background: url(/images/menu/agendahover.png) no-repeat;
  width: 88px;
  padding-left: 36px;
}

/* line 221, ../../app/sass/application.sass */
#fonteContato {
  background: url(/images/menu/cont.png) no-repeat;
  width: 90px;
}

/* line 229, ../../app/sass/application.sass */
#fonteContato:hover {
  background: url(/images/menu/contatohover.png) no-repeat;
  width: 90px;
}

/* line 237, ../../app/sass/application.sass */
#fonteFotos {
  background: url(/images/menu/fotos.png) no-repeat;
  width: 67px;
  padding-left: 25px;
}

/* line 247, ../../app/sass/application.sass */
#fonteFotos:hover {
  background: url(/images/menu/fotoshover.png) no-repeat;
  width: 67px;
  padding-left: 25px;
}

/* line 257, ../../app/sass/application.sass */
.ladrilhoPrincipal {
  background: url(/images/bora.jpg) repeat-y;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  height: 667px;
  margin-top: 37px;
}

/* line 271, ../../app/sass/application.sass */
.ladrilhoPrincipalHome {
  background: url(/images/vamov.png) no-repeat;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  height: 667px;
}

/* line 281, ../../app/sass/application.sass */
#fotoHome {
  height: 204px;
  margin: auto;
}

/* line 289, ../../app/sass/application.sass */
#divindex {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
}

/* line 295, ../../app/sass/application.sass */
#cont {
  background: url(/images/cont1.png) no-repeat;
  height: 452px;
  margin-top: 10px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 520px;
}

/* line 307, ../../app/sass/application.sass */
#QuemSomos {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
  padding-right: 60px;
}
/* line 313, ../../app/sass/application.sass */
#QuemSomos h2 {
  height: 112px;
  width: 300px;
  background: url(/images/HomeQuemSomos.png) no-repeat;
  text-indent: -99999999px;
  margin-left: 120px;
  margin-top: 20px;
}
/* line 327, ../../app/sass/application.sass */
#QuemSomos p {
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  line-height: 130%;
  text-align: justify;
  color: #492e20;
  heigh: 320px;
  margin-top: -20px;
}

/* line 345, ../../app/sass/application.sass */
#col2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  margin-left: 0;
  margin-right: 0;
}

/* line 355, ../../app/sass/application.sass */
#enquete {
  background: url(/images/enquete.png) no-repeat;
  height: 247px;
  width: 240px;
  margin-top: 10px;
  padding-top: 24px;
  padding-left: 22px;
  font-size: 14px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #492e20;
  font-weight: bold;
  line-hight: 30px;
}
/* line 379, ../../app/sass/application.sass */
#enquete h4 {
  padding-left: 10px;
}
/* line 383, ../../app/sass/application.sass */
#enquete input {
  margin-bottom: 20px;
  margin-right: 15px;
}

/* line 391, ../../app/sass/application.sass */
.botao {
  color: #533210;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/* line 403, ../../app/sass/application.sass */
#face {
  text-indent: -99999px;
  background: url(/images/facebook.png) no-repeat;
  width: 224px;
  height: 72px;
  display: block;
  margin-top: 34px;
}

/* line 421, ../../app/sass/application.sass */
#Cardapio h2 {
  height: 100px;
  background: url(/images/Cardapio.png) no-repeat;
  text-indent: -99999999px;
  margin-left: 240px;
  margin-top: 65px;
}

/* line 435, ../../app/sass/application.sass */
.categoriaCardapio {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  padding-left: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #533210;
}
/* line 449, ../../app/sass/application.sass */
.categoriaCardapio span {
  align: left;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  height: 5px;
  color: #744c1e;
  background-color: #744c1e;
  border-color: #a27847;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 469, ../../app/sass/application.sass */
.categoriaCardapio h3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  padding-left: 60px;
  font-size: 24px;
  font-weight: bold;
}
/* line 479, ../../app/sass/application.sass */
.categoriaCardapio h4 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 0px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
/* line 489, ../../app/sass/application.sass */
.categoriaCardapio h5 {
  padding-left: 0px;
  font-size: 17px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
/* line 497, ../../app/sass/application.sass */
.categoriaCardapio #fotoCardapio {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
  padding-left: 360px;
  margin-top: -85px;
}

/* line 509, ../../app/sass/application.sass */
#Carta h2 {
  height: 100px;
  background: url(/images/cartadevinhos.png) no-repeat;
  text-indent: -99999999px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 580px;
  margin-left: 120px;
  margin-top: 65px;
}

/* line 527, ../../app/sass/application.sass */
#Contato h2 {
  height: 100px;
  background: url(/images/contato.png) no-repeat;
  text-indent: -99999999px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  margin-left: 256px;
  margin-top: 65px;
}

/* line 543, ../../app/sass/application.sass */
#formcontato {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  padding-left: 60px;
}
/* line 549, ../../app/sass/application.sass */
#formcontato label {
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  color: #fbecec;
  align: center;
}

/* line 561, ../../app/sass/application.sass */
#coluna1 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
}
/* line 567, ../../app/sass/application.sass */
#coluna1 input {
  background-color: #533210;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-color: #533210;
  margin-bottom: 10px;
  width: 200px;
}

/* line 585, ../../app/sass/application.sass */
#coluna2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  margin-left: 0;
  margin-right: 0;
}
/* line 595, ../../app/sass/application.sass */
#coluna2 input {
  width: 104px;
  height: 37px;
  margin-left: 100px;
}

/* line 605, ../../app/sass/application.sass */
#contatotext {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  margin-left: 0;
  background-color: #533210;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom: 33px;
  padding-left: 15px;
  padding-top: 10px;
}

/* line 627, ../../app/sass/application.sass */
#contatoinfo {
  margin-top: 72px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #533210;
  line-height: 31px;
  font-size: 16px;
  font-weight: bold;
}

/* line 645, ../../app/sass/application.sass */
#Agenda h2 {
  height: 100px;
  background: url(/images/Agenda.png) no-repeat;
  text-indent: -99999999px;
  margin-left: 255px;
  margin-top: 65px;
}

/* line 659, ../../app/sass/application.sass */
.calendario {
  background: url(/images/calendario.png) no-repeat;
  height: 106px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  padding-left: 120px;
  margin-left: 110px;
  margin-top: 28px;
}
/* line 675, ../../app/sass/application.sass */
.calendario #mes {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  padding-left: 120px;
  margin-left: -217px;
  margin-top: 10px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
/* line 695, ../../app/sass/application.sass */
.calendario #dia {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  padding-left: 120px;
  margin-left: -225px;
  margin-top: 48px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 50px;
  color: white;
}

/* line 713, ../../app/sass/application.sass */
.evento {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  padding-left: 240px;
}
/* line 721, ../../app/sass/application.sass */
.evento h3 {
  font-size: 20px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #492e20;
  font-weight: bold;
  margin-top: -107px;
}
/* line 735, ../../app/sass/application.sass */
.evento p {
  font-size: 17px;
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #492e20;
  text-align: justify;
}

/* line 747, ../../app/sass/application.sass */
#fotoevento {
  margin-top: -196px;
  margin-left: 335px;
}

/* line 755, ../../app/sass/application.sass */
#divisao {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 340px;
  height: 5px;
  color: #744c1e;
  background-color: #744c1e;
  border-color: #a27847;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: -138px;
  margin-top: 20px;
}
