/* line 17, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../app/sass/application.sass */
body {
  background: url(/images/madeira-pattern.jpg);
}

/* line 6, ../../app/sass/application.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: none;
  background: #faad53 url(/images/content-bg.jpg) no-repeat;
}

/* line 11, ../../app/sass/application.sass */
.main {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 820px;
  padding-right: 60px;
  padding-left: 60px;
}

/* line 16, ../../app/sass/application.sass */
.ladrilho {
  *zoom: 1;
  width: 960px;
  background: #ebad66;
  margin: auto;
}
/* line 38, ../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.ladrilho:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../../app/sass/application.sass */
.esquerda {
  width: 81px;
  background: url(/images/ladrilho-esquerdo.jpg) repeat-y;
  position: absolute;
  bottom: 0;
  top: 0;
  display: none;
}

/* line 30, ../../app/sass/application.sass */
.direita {
  width: 81px;
  background: url(/images/ladrilho-direito.jpg) repeat-y;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
}

/* line 40, ../../app/sass/application.sass */
#logo h1 {
  width: 340px;
  height: 132px;
  background: url(/images/logo.png) no-repeat;
  margin: auto;
  text-indent: -99999999px;
  margin-top: 67px;
}

/* line 48, ../../app/sass/application.sass */
#menuPrincipal {
  background: url(/images/menuprincipal.png) no-repeat;
  width: 819px;
  height: 55px;
  margin-top: 25px;
}
/* line 54, ../../app/sass/application.sass */
#menuPrincipal ul {
  display: block;
  list-style: none;
  padding: 15px;
  padding-left: 26px;
  padding-bottom: 17px;
}
/* line 61, ../../app/sass/application.sass */
#menuPrincipal ul li {
  float: left;
  position: relative;
  margin: 0;
}
/* line 66, ../../app/sass/application.sass */
#menuPrincipal a {
  height: 32px;
  display: block;
  text-indent: -99999px;
}

/* line 72, ../../app/sass/application.sass */
#fonteHome {
  background: url(/images/menu/home.png) no-repeat;
  width: 70px;
  padding-left: 39px;
}

/* line 77, ../../app/sass/application.sass */
#fonteHome:hover {
  background: url(/images/menu/homehover.png) no-repeat;
  width: 70px;
  padding-left: 39px;
}

/* line 83, ../../app/sass/application.sass */
#fonteCardapio {
  background: url(/images/menu/cardapio.png) no-repeat;
  width: 103px;
  padding-left: 45px;
}

/* line 88, ../../app/sass/application.sass */
#fonteCardapio:hover {
  background: url(/images/menu/cardapiohover.png) no-repeat;
  width: 103px;
  padding-left: 45px;
}

/* line 93, ../../app/sass/application.sass */
#fonteVinhos {
  background: url(/images/menu/vinhos.png) no-repeat;
  width: 177px;
  padding-left: 36px;
}

/* line 98, ../../app/sass/application.sass */
#fonteVinhos:hover {
  background: url(/images/menu/vinhoshover.png) no-repeat;
  width: 177px;
  padding-left: 36px;
}

/* line 103, ../../app/sass/application.sass */
#fonteAgenda {
  background: url(/images/menu/agenda.png) no-repeat;
  width: 88px;
  padding-left: 36px;
}

/* line 108, ../../app/sass/application.sass */
#fonteAgenda:hover {
  background: url(/images/menu/agendahover.png) no-repeat;
  width: 88px;
  padding-left: 36px;
}

/* line 113, ../../app/sass/application.sass */
#fonteContato {
  background: url(/images/menu/cont.png) no-repeat;
  width: 90px;
}

/* line 117, ../../app/sass/application.sass */
#fonteContato:hover {
  background: url(/images/menu/contatohover.png) no-repeat;
  width: 90px;
}

/* line 121, ../../app/sass/application.sass */
#fonteFotos {
  background: url(/images/menu/fotos.png) no-repeat;
  width: 67px;
  padding-left: 25px;
}

/* line 126, ../../app/sass/application.sass */
#fonteFotos:hover {
  background: url(/images/menu/fotoshover.png) no-repeat;
  width: 67px;
  padding-left: 25px;
}

/* line 131, ../../app/sass/application.sass */
.ladrilhoPrincipal {
  background: url(/images/ladop.png) no-repeat;
  width: 819px;
  height: 667px;
  margin-top: 31px;
}
