@import base

body
  background: url(/images/texturas/madeira-pattern.jpg)

.rodape
  margin-top: 5px
  height: 40px
  width: 960px
  margin-left: 0px
  margin-right: 0px
  background: url(/images/texturas/footer-bg.jpg)
  font-family: 'Signika', sans-serif
  color: #d38747

#divrodape
  +grid(12)
  +grid-prefix(2)
  vertical-align: middle

  #faceb
    margin-top: 5px
    margin-left: 5px
  
  span
    margin-right: 15px

.container
  +grid-container
  background: #faad53 url(/images/texturas/content-bg.jpg) no-repeat
  +pie-clearfix
  height: 100%
  padding-bottom: 8px
  
.main
  +grid(14)
  +grid-suffix(1)
  +grid-prefix(1)

.ladrilho
  +pie-clearfix
  width: 960px
  background: #ebad66
  margin: auto
  position: relative

.esquerda
  width: 81px
  background: url(/images/texturas/ladrilho-esquerdo.jpg) repeat-y
  position: absolute
  bottom: 0
  top: 0
  left: -81px

.direita
  width: 81px
  background: url(/images/texturas/ladrilho-direito.jpg) repeat-y
  position: absolute
  top: 0
  bottom: 0
  right: -81px
  

#logo
  h1 
    width: 340px
    height: 132px
    background: url(/images/logo.png) no-repeat
    margin: auto
    text-indent: -99999999px
    margin-top: 67px
    
#menuPrincipal
  background: url(/images/texturas/menuprincipal.png) no-repeat
  +grid(14)
  height: 55px
  margin-top: 25px
  ul
    display: block
    list-style: none
    padding: 15px
    padding-left: 26px
    padding-bottom: 17px
    li
      float: left
      position: relative
      margin: 0   
  a
    height: 32px
    display: block
    text-indent: -99999px
   
#fonteHome
  background: url(/images/menu/home.png) no-repeat
  width: 70px 
  padding-left: 39px 

#fonteHome:hover
  background: url(/images/menu/homehover.png) no-repeat
  width: 70px 
  padding-left: 39px 


#fonteCardapio
  background: url(/images/menu/cardapio.png) no-repeat
  width: 103px 
  padding-left: 45px

#fonteCardapio:hover
  background: url(/images/menu/cardapiohover.png) no-repeat
  width: 103px 
  padding-left: 45px 

#fonteVinhos
  background: url(/images/menu/vinhos.png) no-repeat
  width: 177px
  padding-left: 36px 

#fonteVinhos:hover
  background: url(/images/menu/vinhoshover.png) no-repeat
  width: 177px
  padding-left: 36px 

#fonteAgenda
  background: url(/images/menu/agenda.png) no-repeat
  width: 88px  
  padding-left: 36px 

#fonteAgenda:hover
  background: url(/images/menu/agendahover.png) no-repeat
  width: 88px  
  padding-left: 36px 

#fonteContato
  background: url(/images/menu/cont.png) no-repeat
  width: 90px  

#fonteContato:hover
  background: url(/images/menu/contatohover.png) no-repeat
  width: 90px  

#fonteFotos
  background: url(/images/menu/fotos.png) no-repeat
  width: 67px
  padding-left: 25px 

#fonteFotos:hover
  background: url(/images/menu/fotoshover.png) no-repeat
  width: 67px
  padding-left: 25px

.ladrilhoPrincipal
  background: url(/images/texturas/bora.jpg) repeat-y
  +grid(14)
  margin-top: 37px
  padding-bottom: 10px


.ladrilhoPrincipalHome
  background: url(/images/texturas/vamov.png) no-repeat
  +grid(14)
  padding-bottom: 10px

#fotoHome 
  height: 204px
  margin: auto

#divindex
  +grid(14)

#cont
  background: url(/images/texturas/cont1.png) no-repeat
  height: 452px
  margin-top: 10px
  +grid(9)

#QuemSomos
  +grid(8)
  +grid_suffix(1)
  h2
    height: 112px
    width: 300px
    background: url(/images/subtitulos/HomeQuemSomos.png) no-repeat
    text-indent: -99999999px
    margin-left: 120px
    margin-top: 20px
  p
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
    font-size: 15px
    line-height: 130%
    text-align: justify
    color: #492e20
    heigh: 320px
    margin-top: -20px

#col2
  +grid(5)
  +alpha
  +omega

#enquete
  background: url(/images/texturas/enquete.png) no-repeat
  height: 247px
  width: 240px
  margin-top: 10px
  padding-top: 24px
  padding-left: 22px
  font-size: 14px
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
  color: #492e20
  font-weight: bold
  line-hight: 30px
  h4
    padding-left: 10px
  input
    margin-bottom: 20px
    margin-right: 15px

.botao
  color: #533210
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
  font-size: 14px
  font-weight: bold
  
#face
  text-indent: -99999px
  background: url(/images/facebook.png) no-repeat
  width: 224px
  height: 72px
  display: block
  margin-top: 34px

#Cardapio
  h2
    height: 100px
    background: url(/images/subtitulos/Cardapio.png) no-repeat
    text-indent: -99999999px
    margin-left: 240px
    margin-top: 65px

.categoriaCardapio
  +grid(10)
  +grid_prefix(2)
  margin-top: 10px
  margin-bottom: 10px
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
  color: #533210
  span
    align: left
    +grid(6)
    height: 5px
    color: #744c1e
    background-color: #744c1e
    border-color: #a27847
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
  h3
    +grid(4)
    +grid_prefix(1)
    font-size: 24px
    font-weight: bold
  h4
    font-size: 18px
    font-weight: bold
    +grid_prefix(0)
    +grid(6)
  h5
    +grid_prefix(0)
    font-size: 17px
    +grid(6)
  .fotoCardapio
    +grid(4)
    +grid_prefix(6)
    margin-top: -85px

#Carta
  h2
    height: 100px
    background: url(/images/subtitulos/cartadevinhos.png) no-repeat
    text-indent: -99999999px
    +grid(10)
    margin-left: 120px
    margin-top: 65px

#Contato
  h2
    height: 100px
    background: url(/images/subtitulos/contato.png) no-repeat
    text-indent: -99999999px
    +grid(6)
    margin-left: 256px
    margin-top: 65px

#formcontato
  +grid(12)
  +grid_prefix(1)
  label
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
    font-size: 16px
    color: #fbecec
    align: center

#coluna1
  float:left
  +grid(6)
  input
    background-color: #533210
    -webkit-border-radius: 6px
    -moz-border-radius: 6px
    border-radius: 6px
    border-color: #533210
    margin-bottom: 10px
    width: 200px

#coluna2
  flat:right
  +grid(6)
  +alpha
  +omega
  input
    width: 104px
    height: 37px
    margin-left: 100px

#contatotext
  +grid(6)
  +alpha
  background-color: #533210
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  border-radius: 15px
  margin-bottom: 33px
  padding-left: 15px
  padding-top: 10px

#contatoinfo
  margin-top: 72px
  font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
  color: #533210
  line-height: 31px
  font-size: 16px
  font-weight: bold

#Agenda
  h2
    height: 100px
    background: url(/images/subtitulos/Agenda.png) no-repeat
    text-indent: -99999999px
    margin-left: 255px
    margin-top: 65px

.calendario
  background: url(/images/subtitulos/calendario.png) no-repeat
  height: 106px
  +grid(2)
  +grid_prefix(2)
  margin-left: 110px
  margin-top: 28px
  
  #mes
    +grid(2)
    +grid_prefix(2)
    margin-left: -217px
    margin-top: 10px
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
    font-size: 18px
    color: #ffffff
    font-weight: bold

  #dia
    +grid(2)
    +grid_prefix(2)
    margin-left: -225px
    margin-top: 48px
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif
    font-size: 50px
    color: #ffffff

.acontecimento
  +grid(5)
  +grid_prefix(4)
  
  h3
    font-size: 20px 
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif 
    color: #492e20
    font-weight: bold
    margin-top: -107px
  
  p
    font-size: 17px 
    font-family: Ebrima, Helvetica, Helvetica Neue, Arial, sans-serif 
    color: #492e20
    text-align: justify

#fotoevento
  margin-top: -196px
  margin-left: 335px

#divisao
  +grid(6)
  height: 5px
  color: #744c1e
  background-color: #744c1e
  border-color: #a27847
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  margin-left: -138px
  margin-top: 20px





#Fotos
  h2
    height: 100px
    background: url(/images/subtitulos/fotos.png) no-repeat
    text-indent: -99999999px
    margin-left: 240px
    margin-top: 65px

.foto
  +grid(4)
  +alpha
  height: 160px
  margin-left: 20px
  margin-right: 20px
  margin-bottom: 40px
